@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #1d1f25;
  --foreground-rgb: #f7f7f6;
  /* --foreground-rgb: #ebe8e6; */
  --max-width: 1200px;
  --primary-color: #c26148;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--background-color);
  background: var(--foreground-rgb);
}

.bg-primary {
  background-color: var(--primary-color);
}